/* course */

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course {
  margin-bottom: 1.5em;
  width: 100%;
}

.card {
  box-shadow: 1px 1px 1px var(--c-light-gray);
}

.card__block {
  padding: 0.8em;
  position: relative;
}

.card__date {
  background: var(--c-white);
  box-shadow: 1px 1px 1px var(--c-light-gray);
  color: var(--secondary-color);
  display: inline-block;
  font-weight: 500;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 1em;
  position: absolute;
  transform: translateY(-50%);
  right: 1em;
  top: 0;
}

.card__title {
  font-size: 1.7em;
  margin: 0;
}
